[flake8]
ignore = E501

exclude =
    .git,
    .gitignore,
    __pycache__,
    core/migrations/,
    config/settings.py,
    ./core/migrations/0001_initial.py



extend-exclude =
    ./config/settings.py,
    core/migrations/,
    ./core/migrations/0001_initial.py,


max-complexity = 10